a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}
    .platformSmallIcon{
        opacity: 1;
        width: 50%;
        cursor: pointer;
    }
    .platformLargeIcon{
        opacity: 1;
        width: 20%;
        cursor: pointer;
    }
